<section class="absolute w-full h-full">
  <div
    class="absolute top-0 w-full h-full bg-gray-900"
    style="
      background-image: url(./assets/img/register_bg_2.png);
      background-size: 100%;
      background-repeat: no-repeat;
    "
  ></div>
  <div class="container mx-auto px-4 h-full">
    <div class="flex content-center items-center justify-center h-full">
      <div class="w-full lg:w-6/12 px-4">
        <div
          class="relative flex flex-col min-w-0 break-words w-full mb-6 fadeIn"
        >
          <div class="rounded-t mb-0 px-6 py-2">
            <div class="text-center mb-3">
              <h2
                class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
              >
                <span class="block text-white">Can you become a lawyer?</span>
                <span class="block text-cyan-400"
                  >Predict whether you will succeed.</span
                >
              </h2>
            </div>
            <hr class="mt-6 border-b-1 border-gray-400" />
          </div>
          <div class="flex-auto px-4 lg:px-10 py-2">
            <div class="text-white text-lg text-center pb-5">
              Pass the bar is an application which helps american students get
              insight in their chances of passing the bar.
            </div>
            <div class="btn-wrapper text-center">
              <button
                routerLink="/predict"
                class="mx-1 px-4 py-2 font-bold rounded-full bg-cyan-400"
              >
                Try it!
              </button>
              <button
                routerLink="/explanation"
                class="mx-1 px-4 py-2 font-bold rounded-full bg-green-400"
              >
                More info
              </button>
              <button
                routerLink="/experiences"
                class="mx-1 px-4 py-2 font-bold rounded-full bg-orange-400"
              >
                Experiences
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
